a {
  text-decoration: none;
}

a :hover {
  color: rgba(0, 0, 255, 0.918);
}

h3 {
  margin: 10px;
  text-align: center;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  
}

h4 {
  font-size: 16px;
  color: black
}

p {
  color: black;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  border: 2rem;
  
}

/*card style */
.card {
  background-color: rgba(3, 117, 47, 0.795);
  text-align: center;
  margin:auto;

  height: 450px;
  width: 350px;

  border: 2rem;
  padding: 2px;
  border-radius: 5px;
  margin-top: 20px;
  
}

/* styling */
.mycontainer {
  height: 451px;
  width: 351px;

  border: 2rem;
  padding: 2px;
  border-radius: 2px;
 
  margin:auto;
  text-align: center;
}
  
/* Above & Beyond */
.card img { 

  width: 270px;
  height: 100px;
  object-fit: cover; /*scales the content proportionally*/
  mix-blend-mode: normal; /*normal: color does not blend*/
}